body {
  
  background: #121212;
}

html, body #home {
  height: 100%;
}

nav.navbar-transparente {
  background: rgba(0,0,0,0.6);
  padding:15px 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.5);
}

.divisor {
  width:1px;
  background: white;
  margin: 12px 15px;
}
/* Estilo para o título "PROJECTS" */
.project-title {
  background: linear-gradient(0deg, #ff6a00,  #fca849); /* Laranja vibrante */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

/* Estilo do card de carregamento */
.card {
  background-color: #2a2a2a; /* Cinza escuro */
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 20px rgba(255, 106, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 106, 0, 0.4);
}

/* Spinner com animação mais fluida */
.spinner-border {
  animation: spin 2s linear infinite;
}

/* Texto mais leve e elegante */
.card p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ccc;
}
.experience-section {
  color: #fff;
}

.experience-section h2 {
  font-size: 2.5rem;
}

.company-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #fff;
  padding: 4px;
}
.experience-section h2 {
 background: linear-gradient(0deg, #1802e6,  #a2a7e5); /* Laranja vibrante */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}


