body {
  
  background: #121212;
}

html, body #home {
  height: 100%;
}

nav.navbar-transparente {
  background: rgba(0,0,0,0.6);
  padding:15px 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.5);
}

.divisor {
  width:1px;
  background: white;
  margin: 12px 15px;
}

.text-shadow-metallic {
  color: #ffffff; /* White color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 
               0 0 10px rgba(212, 175, 55, 0.8), 
               0 0 20px rgba(0, 0, 0, 0.6);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
.sobre {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
