body {
  
  background: url(Imagens/ChatGPT%20Image%207%20de%20mai.%20de%202025,%2016_14_34.png) no-repeat center center fixed, 
              linear-gradient(135deg, #0a0e2a, #1c1c3a, #ff6b3c) no-repeat;
}

html, body #home {
  height: 100%;
}

nav.navbar-transparente {
  background: rgba(0,0,0,0.6);
  padding:15px 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.5);
}

.divisor {
  width:1px;
  background: white;
  margin: 12px 15px;
}